.model-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.model {
  position: absolute;
  height: auto;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: inherit;
}

.cancel-btn {
  position: absolute;
  right: 3em;
  top: 1em;
  width: 2.5em;
  height: 2.5em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;align-items: center;
  cursor: pointer;
  z-index: inherit;

}
.cancel-btn .line{
  background-color: var(--black);
  position: absolute;
  height: 90%;
  border-radius: 3px;
  width: 4px;
}
.line1{
  left: 50%;
  
  transform: rotate(40deg) translateX(-50%);
}
.line2{
  right: 50%;
  transform: rotate(-40deg) translateX(50%);

}
.model img {

  width: 100%;
  border-radius: 12px;
}

@media screen and (max-width:900px)
{
  .model{
    
    width: 90%;
  }
}