.about-page {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-top: 4em;
  

}

.line {
  margin: 1em 0 1em 0;
  background-color: var(--black);
  width: 95%;
  height: 1px;
  opacity: 50%;
}
.about-heading {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;

  font-size: var(--font-size-xlarge);
  font-weight: bold;
}
.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 90%;
  
}
.about-text {
  font-size: var(--font-size-sm);
  margin: 0;
 
}
.middle {
  margin: 0 40px 0 40px;
  width: 3px;
  height: 300px;
  background-color: var(--black);
  opacity: 50%;
}
.profile-img-div img {
  width: 500px;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0,0.5);
  transition:  ease 0.3s;
}
.profile-img-div img:hover{
  transform: scale(1.0);

}
.profile-img-div {
  margin: 0;
}
@media screen and (max-width: 1300px) {
  .profile-img-div img {
    width: 300px;
  }
  .middle {
    margin: 0 10px 0 0px;
    height: 200px;
  }
  .about-text{        
    font-size:var(--font-size-xsm);
    padding-right:5%;
}
}
@media screen and (max-width: 900px) {
  .about-content {
    flex-direction: column-reverse;
    justify-content: none;
    align-items: none;
  }
  .profile-img-div {
    margin: 0;
  }
  .about-heading {
    margin: 1em 0 2em 0;
  }
  .profile-img-div img{
      width: 300px;
  }
  .middle {display: none;
  }
  .top,
  .bottom {
    margin: auto;
  }
  .about-text {
    padding:0 10% 0 10%;
    text-align: start;
    margin-bottom: 3em;
    margin-top: 3em;
  }
  .about-text::before{
    content: '';
    display: block;
    margin: auto auto 3em auto;
    height: 2px;
    min-width: 40%;
    max-width: 80%;
    opacity: 50%;
    background-color: var(--black);
  }
}
