
.wrapper {
  user-select: none;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}
.container {
  position: relative;
  width: 100%;
  margin: 0;
  height: 100%;
}
.spinner-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fade 2s ease-in-out infinite;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 3.5px solid transparent;
  border-top: 3.5px solid rgb(92, 92, 92);
  border-left: 3.5px solid rgb(92, 92, 92);
}
.one {
  width: 200px;
  height: 200px;
}
.one-div {
  transform: rotate(-30deg);
  animation: spin 1.5s ease-in infinite;
}
.two {
  width: 160px;
  height: 160px;
}
.two-div{
  transform: rotate(-20deg);
  animation: spin 1s ease-in-out infinite;

}
.three{
  width: 115px;
  height: 115px;
}
.three-div{
  transform: rotate(-65deg);
  animation: spin 1.5s ease-out infinite;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
}
