
.collections-page {
  margin:2em auto  3em auto;
  width: 100%;
}
.collections-heading {
  font-family: "Overpass", sans-serif;
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  text-align: center;
}
.tab-view {
  margin: 3em auto;
}

.tab-view-item {
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 5px;
}
.tab-view-item-image-wrapper {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  
  margin: 8px;
  background-color: rgba(97, 40, 40, 0.15);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tab-view-item-image-wrapper:hover {
  background-color: transparent;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  
}
.tab-view-item-image {
  min-width: 100%;
  width: 100%;  
  mix-blend-mode: multiply;
  position: relative;
  border-radius: inherit;
  cursor:-webkit-zoom-in;
  cursor:zoom-in;
}



@media screen and (max-width:900px) {
  /* .tab-view-item-image-wrapper{background-color: transparent;} */
  
}