:root {
  --primary-hue: 27;
  --primary-saturation: 87%;
  --primary-lightness: 50%;
  --black-hue: 198;

  --background-color: hsl(25, 100%, 95%);

  --primary: #ef7512;
  --secondary: #a34d07;
  --black: hsl(198, 37%, 18%);
  --light-green: #15b5a2;
  --green: #1f766c;
  --red: #cd3f1c;
  --nav-bg-color: #fff;

  --desktop-width: 1300px;
  --tablet-width: 900px;
  --mobile-width: 500px;

  --font-size-xxxlarge: 50px;
  --font-size-xxlarge: 40px;
  --font-size-xlarge: 30px;
  --font-size-large: 25px;
  --font-size-mid: 23px;
  --font-size-sm: 20px;
  --font-size-xsm: 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  overflow-x: hidden !important;
  overflow-y: scroll;
  max-width: 100% !important;
  background-color: var(--background-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
