/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.contact-page {
  width: 100%;
  height: auto;
  margin: 10em auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}


.contact-page-container {
  background-position: center;
  margin-bottom: 5em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.left-block {
  width: 50%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.left-block-text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.left-block-text h1 {
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-size: var(--font-size-xxlarge);
  font-weight: bolder;
  color: hsl(var(--primary-hue), 40%, 10%);
}
.left-block-text p {
  margin: 0.7em auto 0 0;
  width: 80%;
  font-size: calc(var(--font-size-xsm)+2px);
  color: hsl(var(--primary-hue), 40%, 20%);
}
.contacts {
  margin-top: 50px;
}
.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1em auto 1em 0;
}

.contacts-item p {
  margin-left: 15px;
  font-size: var(--font-size-sm);
}
.contacts-item img {
  width: 1.7em;
}

.left-block-svg {
  position: absolute;
  z-index: -3;
  left: -130px;
  bottom: 0;
  opacity: 90%;
  width: 120%;
}

/*?   Contact  card styling  */

.right-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-card {
  /* width: 50%; */
  height: auto;
  background-color: white;
  -webkit-box-shadow: 8px 4px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-heading {
  margin: 1.5em auto auto auto;
  color: hsl(var(--primary-hue), 40%, 20%);
  font-size: var(--font-size-large);
  font-family: "overpass";
  font-weight: bold;
}
.rocket-img {
  position: absolute;
  left: 50%;
  top: -5%;
  width: 35%;
  -webkit-animation: floating 3s ease-in-out infinite;
  animation: floating 3s ease-in-out infinite;
}
form {
  padding-left: 1em;
  padding-right: 2em;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.card-section p {
  color: hsl(var(--primary-hue), 40%, 25%);
}
.name-section,
.mail-section,
.message-section,
.phone-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 5px;
}
.name-section div,
.mail-section div,
.phone-section div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* padding-top: 0.2em; */
  /* padding-bottom: 0.2em; */
  padding-left: 0.3em;
  padding-right: 0.3em;
  min-height: 30px;
  border: 1px solid #868686;
  border-radius: 10px;
  position: relative;
}
.name-section div input,
.mail-section div input,
.phone-section div input {
  width: 100%;
  margin-left: 1em;
  margin-bottom: 0.1em;
  font-family: "poppins";
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 10px;
}

.name-section div svg,
.mail-section div svg,
.phone-section div svg {
  width: 1.2em;
}
.name-section div svg path,
.mail-section div svg path,
.phone-section div svg path {
  width: 1.2em;
}
.message-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.message-section textarea {
  resize: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10%;
  background-color: transparent;
  border: 1px solid #868686;
  /* display: inline-block; */
  vertical-align: top;
  width: 180%;
  border-radius: 10px;
  height: 10em !important;
}

.upload-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.upload-section img {
  width: 1.2em;
  cursor: pointer;
}
.upload-section p {
  cursor: pointer;
  margin-left: 1em;
  color: var(--light-green);
}
.submit-btn {
  background-color: var(--primary);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  letter-spacing: 0.05em;
  height: 1.7em;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 12px;
  margin: 1em auto 1em auto;
  font-size: var(--font-size-large);
  cursor: pointer;
}
.submit-btn .submit-btn-spinner {
  color: hsl(0, 0%, 90%);
  border-radius: 50%;
  margin-left: 0.4em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  width: 0.7em;
  height: 0.7em;
  border-width: 0.15em;
  display: none;
  -webkit-animation: spinner 0.5s ease-in infinite;
  animation: spinner 0.5s ease-in infinite;
}
.card-section {
  position: relative;
}

.mail-underline,
.name-underline,
.phone-underline,
.mail-underline-focus,
.name-underline-focus,
.phone-underline-focus {
  position: absolute;
  background-color: #868686;
  width: 84%;
  left: 14%;
  height: 1px;
  bottom: 10px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.name-underline-focus,
.mail-underline-focus,
.phone-underline-focus {
  background-color: hsl(var(--primary-hue), 100%, 50%);
  height: 2px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.name-section div input:focus ~ .name-underline-focus,
.mail-section div input:focus ~ .mail-underline-focus,
.phone-section div input:focus ~ .phone-underline-focus {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.card-section svg {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.name-section div input:focus + svg path,
.mail-section div input:focus + svg path,
.phone-section div input:focus + svg path {
  fill: var(--primary);
  
}
.card-section div textarea:focus {
  -webkit-transition: all 01s ease;
  -o-transition: all 01s ease;
  transition: all 01s ease;
  border-color: var(--primary);
}

@media screen and (max-width: 800px) {
  .contact-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction:column;
    width: 100%;
  }
  .left-block{
    margin: auto;
    display: flex;
    flex-direction: column;

    width: 90%;
  }
  .left-block-text h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: calc(var(--font-size-xlarge) + 2px);
  }
  .left-block-text p {
    width: 80%;
    margin: 1em auto;

  }
  .contacts {
    margin-top: 20px !important;
    align-self: flex-start;
    margin-left: 10%;
    
  }
  
  .contact-card {
    width: 90%;
    margin-bottom: 0;
  }

  .contacts div p {
    font-size: calc(var(--font-size-sm) - 2px);
  }
  .contacts div img {
    width: 28px;
  }
  .right-block {
    width: 100%;
    margin: 50px auto 100px auto;
  }
  .left-block-svg {
    display: none;
  }
}

@-webkit-keyframes floating {
  100%,
  0% {
    -webkit-transform: translate(-10px, -8px) scale(1.023, 1.03);
    transform: translate(-10px, -8px) scale(1.023, 1.03);
  }

  50% {
    -webkit-transform: translate(10px, 8px) scale(1, 1);
    transform: translate(10px, 8px) scale(1, 1);
  }
}

@keyframes floating {
  100%,
  0% {
    -webkit-transform: translate(-10px, -8px) scale(1.023, 1.03);
    transform: translate(-10px, -8px) scale(1.023, 1.03);
  }

  50% {
    -webkit-transform: translate(10px, 8px) scale(1, 1);
    transform: translate(10px, 8px) scale(1, 1);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
